{% load static %}

<html>
  <head>
    <title>Django Girls blog</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
    <link
      href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  </head>


  <body>
    <div class="page-header">
      <!-- ログインユーザーのみ投稿可能のif -->
      {% if user.is_authenticated %}
        <!-- フォーム用のビューpost_newを指定して呼び出す -->
        <!-- gly...  Bootstrap、プラス記号 -->
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

        <!-- 下書き一覧ページのリンク -->
        <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>

        <!-- ..ログイン時向けに追加表示... -->
        <p class="top-menu">
          Hello {{ user.username }}
          <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
        </p>

      {% else %}
        <!-- インデックスで、誰もがログインボタンを見れる -->
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% comment %} サインアップの追加 {% endcomment %}
        <a href="{% url 'signup' %}" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
        
      {% endif %}

      <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>
