{% extends 'blog/base.html' %}

{% load static%}

{% block content %}
  updated_date更新が古い順にしています（最新程、下に追加していく）
  {% for post in posts %}
    <div class="post">
      <div class="date">
        {% comment %} <p>published: {{ post.published_date }}</p> {% endcomment %}
        <p>更新された日: {{ post.updated_date }}</p>
      </div>

      <!-- 下記はblog/urls.pyの、name=post_detail のURLを待ち受ける事を意味 -->
      <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

      <!-- linebreaksbrフィルタ＝プレーンテキスト改行を HTML改行 (<br />) タグに変換 -->
      <p>{{ post.text|linebreaksbr }}</p>

      <!-- 投稿一覧ページで、コメント数を訪問者にお知らせ -->
      <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>


      {% comment %} 詳細に飛べればよいのでは・ {% endcomment %}
      {% comment %} <a href="{% url 'blog:play' post.pk %}"> {% endcomment %}
      <a href="{% url 'post_detail' pk=post.pk %}">
        {% if post.thumbnail %}
          <img class="img-thumbnail" src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
        {% else %}
          <img class="img-thumbnail" src="{% static 'noThumbnail.jpg' %}" alt="{{ post.title }}">
        {% endif %}
      </a>


    </div>
  {% endfor %}

{% endblock %}

